/*--------------------GENERAL APPEARANCE----------------------*/

body {
	background: black;
	margin: 0;
	padding: 0;
	border: 0;
	color: #adadad;
}

.resize-row {
	cursor: ns-resize;
	position: absolute;
	height: 2px;
	right: 0;
	left: 0;
	z-index: 99999999999999;
}

.resize-bottom {
	bottom: 0;
}

.resize-top {
	top: 0;
}

.resize-col {
	cursor: ew-resize;
	position: absolute;
	width: 2px;
	top: 0;
	bottom: 0;
	z-index: 99999999999999;
}

.resize-right {
	right: 0;
}

.resize-left {
	left: 0;
}

/*--------------------TOOL BAR----------------------*/

#tool-bar {
	background-color: #333333;
	height: 50px;
	width: 100%;
}

/*--------------------TOP SECTION----------------------*/

#top-section {
	position: absolute;
	top: 50px;
	bottom: 30%;
	right: 0px;
	left: 0px;
}

/*--------------------EDITOR SECTION----------------------*/

#editor {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 35%;
	left: 0px;
	background: #1e1e1e;
}

/*--------------------PREVIEW SECTION----------------------*/

#preview {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 65%;
	background: #252526;
}

.preview-action {
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #333333;
}

.preview-play {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid #ccc;
	width: 27px;
	height: 22px;
	background: transparent;
	color: #00A4DB;
	cursor: pointer;
}

.preview-play.disabled {
	color: #A3A3A3;
	cursor: default;
}

.preview-play.active {
	color: #DB0000;
	cursor: pointer;
}

#pageSelect {
	height: 22px;
    border: 1px solid #ccc;
    position: relative;
    left: -5px;
    background: #252526;
    color: #adadad;
}

/*--------------------TOP SECTION----------------------*/

#bottom-section {
	position: absolute;
	top: 70%;
	bottom: 22px;
	right: 0px;
	left: 0px;
}

#iframe-container {
	position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

#iframe-container iframe {
	height: 100%;
    width: 100%;
	border: 0;
}


/*--------------------FILE SECTION----------------------*/

#files {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 50%;
	left: 0px;
	background: #161616;
}

/*--------------------LOG SECTION----------------------*/

#logs {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 50%;
	background: #121212;
}

/*--------------------ERROR SECTION----------------------*/

#errors {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 50%;
	background: #121212;
}

/*--------------------STATUS BAR----------------------*/

#status-bar {
	position: absolute;
	height: 22px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background: #17232a;
}
