<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/codemirror.css">
	<link rel="stylesheet" href="css/night.css">
	<link rel="stylesheet" href="css/show-hint.css">
	<link rel="stylesheet" href="css/foldgutter.css" />
	<link rel="stylesheet" href="css/lint.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<script src="js/angular.min.js"></script>
	<script src="js/index.js"></script>
	<script src="js/resize.js"></script>
	<script src="js/codemirror/codemirror.js"></script>
	<script src="js/codemirror/xml.js"></script>
	<script src="js/codemirror/active-line.js"></script>
	<script src="js/codemirror/show-hint.js"></script>
	<script src="js/codemirror/xml-hint.js"></script>
	<script src="js/codemirror/novent-hint.js"></script>
	<script src="js/codemirror/foldcode.js"></script>
	<script src="js/codemirror/foldgutter.js"></script>
	<script src="js/codemirror/xml-fold.js"></script>
	<script src="js/codemirror/closetag.js"></script>
	<script src="js/codemirror/matchtags.js"></script>
	<script src="js/codemirror/lint.js"></script>
    <title>Novent Studio</title>
  </head>
  <body ng-controller="editorController">
	<header id="tool-bar"></header>
	<section id="top-section">
		<div id="editor">
			<div class="resize-col resize-right resize-editor-preview"></div>
			<textarea id="editor-textarea"></textarea>
		</div>
		<div id="preview">
			<div class="resize-col resize-left resize-editor-preview"></div>
			<div class="preview-action">
				<button class="preview-play" ng-class="{'disabled': novent.errors.length != 0, 'active': isInPreview}" ng-click="preview()"><i class="fa fa-play"></i></button>
				<select id="pageSelect" name="pageSelect" ng-model="pageSelect">
				  <option ng-repeat="page in novent.pages" value="{{page.name}}">{{page.name}}</option>
				</select>
			</div>
			<div id="iframe-container">
				<iframe class="preview-iframe" src="{{previewURI}}" ng-if="isInPreview" onload="this.contentWindow.document.getElementsByTagName('html')[0].style.background = '#252526'"></iframe>
			</div>
		</div>
		<div class="resize-row resize-bottom resize-sections"></div>
	</section>
	<section id="bottom-section">
		<div class="resize-row resize-top resize-sections"></div>
		<div id="files">
			<div class="resize-col resize-right resize-files-logs"></div>
		</div>
		<div id="logs">
			<div class="resize-col resize-left resize-files-logs"></div>
		</div>
		<div id="errors">
			<div class="resize-col resize-left resize-files-logs"></div>
		</div>
	</section>
	<footer id="status-bar"></footer>
  </body>
</html>
