<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/codemirror.css">
	<link rel="stylesheet" href="css/night.css">
	<link rel="stylesheet" href="css/show-hint.css">
	<link rel="stylesheet" href="css/foldgutter.css" />
	<link rel="stylesheet" href="css/lint.css" />
	<link rel="stylesheet" href="css/simplescrollbars.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/dialog_cm.css">
	<link rel="stylesheet" href="css/matchesonscrollbar.css">
	<script src="js/angular.min.js"></script>
	<script src="js/index.js"></script>
	<script src="js/codemirror/codemirror.js"></script>
	<script src="js/codemirror/xml.js"></script>
	<script src="js/codemirror/active-line.js"></script>
	<script src="js/codemirror/show-hint.js"></script>
	<script src="js/codemirror/xml-hint.js"></script>
	<script src="js/codemirror/novent-hint.js"></script>
	<script src="js/codemirror/foldcode.js"></script>
	<script src="js/codemirror/foldgutter.js"></script>
	<script src="js/codemirror/xml-fold.js"></script>
	<script src="js/codemirror/closetag.js"></script>
	<script src="js/codemirror/matchtags.js"></script>
	<script src="js/codemirror/lint.js"></script>
	<script src="js/codemirror/simplescrollbars.js"></script>
	<script src="js/codemirror/dialog.js"></script>
	<script src="js/codemirror/searchcursor.js"></script>
	<script src="js/codemirror/search.js"></script>
	<script src="js/codemirror/annotatescrollbar.js"></script>
	<script src="js/codemirror/matchesonscrollbar.js"></script>
	<script src="js/codemirror/jump-to-line.js"></script>
    <title>Novent Studio</title>
  </head>
  <body ng-controller="editorController">
	<header id="tool-bar">
		<span>
			<i class="fa fa-file-o" ng-click="new()"></i>
			<i class="fa fa-folder-o" ng-click="open()"></i>
			<i class="fa fa-floppy-o" ng-click="save()" ng-class="{'disabled': !canSave}"></i>
			<i class="package-icon" ng-click="package()" ng-class="{'disabled': noventErrors.length != 0}"></i>
		</span>
		<span>
			<i class="fa fa-scissors" ng-click="cut()"></i>
			<i class="fa fa-files-o" ng-click="copy()"></i>
			<i class="fa fa-clipboard" ng-click="paste()"></i>
		</span>
		<span>
			<i class="fa fa-undo" ng-click="editor.undo()" ng-class="{'disabled': editor.historySize().undo == 0}"></i>
			<i class="fa fa-repeat" ng-click="editor.redo()" ng-class="{'disabled': editor.historySize().redo == 0}"></i>
			<i class="fa fa-search"></i>
		</span>
		<span>
			<i class="fa fa-search-minus" ng-click="zoomOut()" ng-class="{'disabled': fontSize == 1}"></i>
			<i class="fa fa-search-plus" ng-click="zoomIn()" ng-class="{'disabled': fontSize == 50}"></i>
		</span>
	</header>
	<section id="top-section">
		<div id="editor">
			<div class="resize-col resize-right resize-editor-preview"></div>
			<textarea id="editor-textarea"></textarea>
		</div>
		<div id="preview">
			<div class="resize-col resize-left resize-editor-preview"></div>
			<div class="preview-action">
				<button class="preview-play" ng-class="{'disabled': noventErrors.length != 0, 'active': isInPreview}" ng-click="preview()"><i class="fa fa-play"></i></button>
				<select id="pageSelect" name="pageSelect" ng-model="pageSelect">
				  <option ng-repeat="page in novent.pages" value="{{$index}}">{{page.name}}</option>
				</select>
			</div>
			<div id="iframe-container">
				<iframe class="preview-iframe" src="{{previewURI}}" ng-if="isInPreview" onload="this.contentWindow.document.getElementsByTagName('html')[0].style.background = '#252526'"></iframe>
			</div>
		</div>
	</section>
	<footer id="status-bar">
		{{projectPath}}
	</footer>
  </body>
</html>
