<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="css/new.css">
	<script src="js/angular.min.js"></script>
	<script src="js/new.js"></script>
    <title>New Novent Project</title>
  </head>
  <body ng-controller="newController">
		<section id="new-project-form">
			<table>
				<tr>
					<td colspan="2"><input type="text" id="project-name" ng-model="projectName" placeholder="Project Name"/></td>
				</tr>
				<tr>
					<td><button class="project-location-btn" ng-click="chooseProjectLocation()">Choose project location: </button></td>
					<td><input type="text" id="project-location" ng-model="projectLocation" disabled/></td>
				</tr>
			</table>
		</section>
		
		<button id="cancel" ng-click="cancel()">Cancel</button>
		<button id="create" ng-click="create()">Create project</button>
  </body>
</html>